.main {
  margin-top: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maindiv {
  width: 30%;
  height: 100%;
  border: 2px solid rgb(142, 193, 235);
}
