.mainpara {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.para {
  text-transform: capitalize;
  font-weight: bold;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
