.card {
  width: 300px;
  display: flex;
  background: whitesmoke;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 4px;
  border: 2px solid red;
  gap: 20px;
}
.card p {
  text-transform: capitalize;
  line-height: 25px;
}
.card h3 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: xx-large;
}

.card button {
  text-transform: capitalize;
  background: rgb(24, 223, 213);
  padding: 5px;
  font-size: large;
}

.card button:hover {
  background: whitesmoke;

  cursor: pointer;
}
