.cardBody {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cardmain {
  width: 250px;
  height: 400px;
  margin-top: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 7.5%;
}
.cardmain p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
}

.lineclamp {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.lineclamp2 {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.btn {
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(142, 193, 235);
  padding: 5px;
  color: black;
  text-decoration: none;
}
.btn:hover {
  background-image: linear-gradient(
    to bottom right,
    rgb(154, 154, 183),
    skyblue
  );
  cursor: pointer;
}

.cardImg {
  margin-top: 0.5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 15px;
}

.cardImg Image :hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .cardmain {
    width: 200px;
  }
  .lineclamp {
    flex-wrap: wrap;
  }

  .cardBody {
    padding: 0.5px;
  }
}
